/* IRIS - color: #4D5AE5; WHITE - color: #FFFFFF;
NAVYBLUE - color: #2E2F42; SLATE - color: #434455;
CLOUD - color: #F4F4FD; OCEAN - color: #404BBF;*/

:root { --background: #FFFFFF;
--text-color: #434455;
--title-text-color: #2E2F42;
--hover-color: #404BBF;
--iris-color: #4D5AE5;
--cloud-color: #F4F4FD;}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;}

.list {list-style: none;}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.logo.web {color: var(--iris-color);}
.logo.link, .project-card .link {text-decoration: none;}
.logo.studio {color: var(--title-text-color);}

.site-nav {background-color: var(--background); color: var(--title-text-color);}
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;}
.site-nav .link.current, .site-nav .link:hover, .site-nav .link:focus, .site-nav .link:active {
    color: var(--hover-color);
}

.address {font-style: normal;}
.address .link {font-weight: 400;color: var(--text-color);}

.hero {background-color: #2E2F42;}
.hero-title { 
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
}

.section {
    color: var(--text-color);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--title-text-color);}
.section .inner, .project-card .inner {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
} 
.team-card {
    background-color: var(--background);
    text-align: center;}
.project-card {background-color: var(--background);}


.footer {
    color: var(--cloud-color);
    background-color: #2E2F42;
    font-size: 16px;}
.footer-logo {color: var(--cloud-color);}


.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;}
.btn.primary {background-color: #4d5ae5; color: #FFFFFF;}
.btn.primary:hover, .btn.primary:focus {background-color: var(--hover-color); color: #FFFFFF;}
.btn.secondary {background-color: #F4F4FD; color: #4d5ae5;}
.btn.secondary.current, .btn.secondary:hover, .btn.secondary:focus {background-color: var(--hover-color); color: #FFFFFF;}

.light-bg {
    background-color: #F4F4FD;
}